################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/AnılBurakYamaner-Proje.Common/bin/Debug/netcoreapp3.1
/Common/AnılBurakYamaner-Proje.Common/obj
/Kopyası--AnılBurakYamaner-Proje/.vs
/Kopyası--AnılBurakYamaner-Proje/Common/AnılBurakYamaner-Proje.Common/bin/Debug/netcoreapp3.1
/Kopyası--AnılBurakYamaner-Proje/Common/AnılBurakYamaner-Proje.Common/obj
/Kopyası--AnılBurakYamaner-Proje/Library/AnılBurakYamaner-Proje.Core/bin/Debug/netcoreapp3.1
/Kopyası--AnılBurakYamaner-Proje/Library/AnılBurakYamaner-Proje.Core/obj
/Kopyası--AnılBurakYamaner-Proje/Library/AnılBurakYamaner-Proje.Model/bin/Debug/netcoreapp3.1
/Kopyası--AnılBurakYamaner-Proje/Library/AnılBurakYamaner-Proje.Model/obj
/Kopyası--AnılBurakYamaner-Proje/Library/AnılBurakYamaner-Proje.Service/bin/Debug/netcoreapp3.1
/Kopyası--AnılBurakYamaner-Proje/Library/AnılBurakYamaner-Proje.Service/obj
/Kopyası--AnılBurakYamaner-Proje/Presentation/AnılBurakYamaner-Proje.API/bin/Debug/netcoreapp3.1
/Kopyası--AnılBurakYamaner-Proje/Presentation/AnılBurakYamaner-Proje.API/obj
/Kopyası--AnılBurakYamaner-Proje/Presentation/AnılBurakYamaner-Proje.Web.UI/bin/Debug/netcoreapp3.1
/Kopyası--AnılBurakYamaner-Proje/Presentation/AnılBurakYamaner-Proje.Web.UI/obj
/Library/AnılBurakYamaner-Proje.Core/bin/Debug/netcoreapp3.1
/Library/AnılBurakYamaner-Proje.Core/obj
/Library/AnılBurakYamaner-Proje.Model/bin/Debug/netcoreapp3.1
/Library/AnılBurakYamaner-Proje.Model/obj
/Library/AnılBurakYamaner-Proje.Service/bin/Debug/netcoreapp3.1
/Library/AnılBurakYamaner-Proje.Service/obj
/Presentation/AnılBurakYamaner-Proje.API/bin/Debug/netcoreapp3.1
/Presentation/AnılBurakYamaner-Proje.API/obj
/Presentation/AnılBurakYamaner-Proje.Web.UI/bin/Debug/netcoreapp3.1
/Presentation/AnılBurakYamaner-Proje.Web.UI/obj
/.vs/AnılBurakYamaner-Proje/FileContentIndex
/.vs/AnılBurakYamaner-Proje/DesignTimeBuild
